<nav class="navbar navbar-expand-lg navbar-light orange">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:3000"><img class="logo" src ="/images/leboncoin-logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto menuBoncoin">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/deposer">Deposer une annonce</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000">Offres</a>
                </li>
            </ul>
        </div>
    </div>
</nav>