<% include partials/header.ejs %>
    <% include partials/menu.ejs %>

        <div class="container">
     
            
                   

            <div class="row blocForm">            
                <% for (var i = 0; i < announces.length; i++) { %>
                  <div class="p-2"><%= announces[i].title_name %></div>
                  <div class="p-2 thumbnail"><img class="img-fluid" src='/uploads/<%= announces[i].photo_url %>' alt='photo' /></div> 
                  <div class="p-2"><%= announces[i].price %></div>
                  <div class="p-2"><%= announces[i].city %></div>                         
                <% } %>       
            </div>
        </div>
        </div>




        <% include partials/footer.ejs %>