body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #FAFAFA;
}
/* Menu Navbar */
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 60px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.logo {
    width: 70px;
    height: 60px;
}

.orange {
    background-color: #F56B2A;
    height: 60px;
}

/* Buttons */
.btnNumber{
    background-color: #F56B2A;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}
.btnModify{
    background-color:#336699;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    margin: 5px;
}
.btnDelete{
    background-color:grey;
    color :white;
    padding: 10px 20px;
    font-size: 14px;
    margin: 5px;
}

.btn-submit {
    background-color: #4183D7;
    height: 40px;
    padding: 0 70px 0 70px;
    color: white;
}
/* Semantic tags */
h1{
    color: #989898;
    font-family: "OpenSansBold",sans-serif;
    font-size: 18px;
    margin: 20px 0;    
}

h2{
    padding: 10px 0;
}

h3 {
    background-color: #666666;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px 0 20px;
    line-height: 50px;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
/* Texts */
.center{
text-align: center;
}
/* Images */
.thumbnail{
    overflow: hidden;
    width: 25%;
    min-width: 130px;
    max-height: 120px;
    max-height: 100%;
    background: #f2f2f2;
}
.blocTitle {
    padding: 30px 0;
}

.blocForm {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 30px;
}


/*********Sidebar single announce*********/

/* sidebar */
.sidebar{
    padding: 0;
}
.announceDetails,.announceModify{
    background-color: white;
    border: 1px solid #cccccc;
    padding: 0;
    max-height: 120px auto; 
    margin-left: 20px;
    margin-bottom: 20px;    
}
/* Bloc Announce */
.blocAnnounce{
    background-color: white;
    border: 1px solid #cccccc; 
    padding: 0;  
}
.pseudo{
 padding: 10px 20px;
}
.bgName,.bgBloc{
    background: #e6e6e6;
    padding: 15px;    
}
.bgName{
    width: 100%;
}
.borderBoxTop{
    border-top: 0.5px solid #ccc;
    padding: 0;
}
.borderBoxTop p, .borderBoxBottom p{
    padding-top: 15px;
}
.borderBoxBottom{
    border-bottom: 0.5px solid #ccc;
    padding: 0;
}
.sectionAnnounce{
    margin-top :40px;
    margin-bottom: 40px;
}
.blocImg{
 padding-bottom: 30px;
}
.description{
    height: 100px;
    padding-top: 10px;
}
.description p{
    padding-top: 20px;
}
.price{
    color: #F56B2A;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

/*********Home page*********/
.blocRight h2{
    color: #3872BB;
    font-weight: bold;
    font-size: 18px;
}
.announceList li:hover{
    background: #f2f2f2;
}
.announceList li a{
   text-decoration: none;
}

 /* Footer */
footer {
    background-color: #666666;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 0;
}
footer .wording {
    color: white;
    padding-top: 20px;
}  

/*********Media queries*********/
@media (max-width: 767px) { 
    .announceDetails,.announceModify{
        margin-left: 0;
        margin-right: 0;
    }
 }

